*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse IDEA
/target/
/bin/
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# Mac Specific
.DS_Store
.AppleDouble
.LSOverride
/replay_pid14552.log
/aic-ppaml.keystore
/lOtWtRSqVUuvBPie0ttM.txt
/latest valid classpath if one wishes to run PRAiSE from the command line.txt
/model.txt
/Squirrel.exe
/explanation - correct.txt
/explanation - wrong.txt
/explanation.txt
/graph.png
/HOGMMultiQuerySamplingProblemSolverTest.png
