*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse IDEA
/target/
/bin/
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# Mac Specific
.DS_Store
.AppleDouble
.LSOverride
/replay_pid14552.log
/aic-ppaml.keystore
/lOtWtRSqVUuvBPie0ttM.txt
/latest valid classpath if one wishes to run PRAiSE from the command line.txt
/model.txt
/Squirrel.exe
/explanation - correct.txt
/explanation - wrong.txt
/explanation.txt
/graph.png
/HOGMMultiQuerySamplingProblemSolverTest.png
/explanations.txt
/HOGMMultiQuerySamplingProblemSolverTest0.png
/HOGMMultiQuerySamplingProblemSolverTest1.png
/HOGMMultiQuerySamplingProblemSolverTest10.png
/HOGMMultiQuerySamplingProblemSolverTest11.png
/HOGMMultiQuerySamplingProblemSolverTest12.png
/HOGMMultiQuerySamplingProblemSolverTest13.png
/HOGMMultiQuerySamplingProblemSolverTest14.png
/HOGMMultiQuerySamplingProblemSolverTest15.png
/HOGMMultiQuerySamplingProblemSolverTest16.png
/HOGMMultiQuerySamplingProblemSolverTest17.png
/HOGMMultiQuerySamplingProblemSolverTest18.png
/HOGMMultiQuerySamplingProblemSolverTest19.png
/HOGMMultiQuerySamplingProblemSolverTest2.png
/HOGMMultiQuerySamplingProblemSolverTest20.png
/HOGMMultiQuerySamplingProblemSolverTest21.png
/HOGMMultiQuerySamplingProblemSolverTest22.png
/HOGMMultiQuerySamplingProblemSolverTest23.png
/HOGMMultiQuerySamplingProblemSolverTest24.png
/HOGMMultiQuerySamplingProblemSolverTest3.png
/HOGMMultiQuerySamplingProblemSolverTest4.png
/HOGMMultiQuerySamplingProblemSolverTest5.png
/HOGMMultiQuerySamplingProblemSolverTest6.png
/HOGMMultiQuerySamplingProblemSolverTest7.png
/HOGMMultiQuerySamplingProblemSolverTest8.png
/HOGMMultiQuerySamplingProblemSolverTest9.png
/HOGMMultiQuerySamplingProblemSolverTest00.png
/HOGMMultiQuerySamplingProblemSolverTest01.png
/HOGMMultiQuerySamplingProblemSolverTest02.png
/Untitled 1
/Random Walk.png
/Gibbs.png
/Monte Carlo.png
/Weighted Gibbs.png
