<?xml version='1.0' encoding='UTF-8'?>
<!--
  Copyright (c) 2013, SRI International
  All rights reserved.
  Licensed under the The BSD 3-Clause License;
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at:
  
  http://opensource.org/licenses/BSD-3-Clause
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions
  are met:
  
  Redistributions of source code must retain the above copyright
  notice, this list of conditions and the following disclaimer.
  
  Redistributions in binary form must reproduce the above copyright
  notice, this list of conditions and the following disclaimer in the
  documentation and/or other materials provided with the distribution.
  
  Neither the name of the aic-praise nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
  COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) 
  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, 
  STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
  OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<configuration>
  <conversionRule conversionWord="logxtracemsg" 
                  converterClass="com.sri.ai.util.log.LogXTraceConverter" />

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
  
  <appender name="logx.console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="com.sri.ai.grinder.helper.RewriterLoggingNamedRewriterFilter" />
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>|%logxtracemsg%n</Pattern>
    </encoder>
  </appender>
  
  <appender name="rewriter.trace.expression.tree" class="com.sri.ai.grinder.ui.RewriterTraceTreeUtilAppender">
    <filter class="com.sri.ai.grinder.helper.RewriterLoggingNamedRewriterFilter" />
  </appender>
  
  <appender name="rewriter.justification.expression.tree" class="com.sri.ai.grinder.ui.RewriterJustificationTreeUtilAppender">
    <filter class="com.sri.ai.grinder.helper.RewriterLoggingNamedRewriterFilter" />
  </appender>
  
  <logger name="com.sri.ai.grinder.helper.Trace" additivity="false">
    <level value="${trace.level:-trace}"/>
    <appender-ref ref="rewriter.trace.expression.tree" />
    <appender-ref ref="logx.console" />
  </logger>
  
  <logger name="com.sri.ai.grinder.helper.Justification" additivity="false">
    <level value="${justification.level:-trace}"/>
    <appender-ref ref="rewriter.justification.expression.tree" />
  </logger>

  <root>
    <level value="debug" />
    <appender-ref ref="stdout" />
  </root>
</configuration>
